package styles

css NavBarList() {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

css NavBarItem(floatSide string) {
	float: { floatSide };
}

css NavBarItemLink(fontFamily string) {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: { fontFamily };
}
