package views

import "fmt"
import "github.com/softmaxer/osail/pkg/llm"
import "github.com/softmaxer/osail/views/layout"
import "github.com/softmaxer/osail/data"
import "github.com/softmaxer/osail/views/styles"

templ ExpProgress(status string) {
	switch status {
		case "idle":
			<span class={ styles.Tag("grey", "white") } id="change-of-status">{ status } </span>
		case "ongoing":
			<span class={ styles.Tag("gold", "black") } id="change-of-status">{ status } </span>
		case "finished":
			<span class={ styles.Tag("green", "white") } id="change-of-status">{ status } </span>
		case "failed":
			<span class={ styles.Tag("red", "white") } id="change-of-status">{ status } </span>
	}
}

templ ExpResults(ratings []llm.Model) {
	<ul class="ratings-list">
		for _, comp := range ratings {
			<li class="list-group-item">
				Name: { comp.Name } | Rating: { fmt.Sprintf("%.2f", comp.Rating) }
			</li>
		}
	</ul>
}

templ ShowExperiment(experiment data.Experiment) {
	<html>
		@layout.Links()
		<body class={ styles.ColorMe("#27313E") }>
			@layout.ExperimentsPageMenu()
			<div class={ styles.CenteredContainer() }>
				<div id="set-run" style="display:none" hx-get="/set/run" hx-target="#change-of-status" hx-trigger="click from:#run-exp-button" hx-swap="outerHTML"></div>
				<div id="exp-status-hidden" style="display:none"></div>
				<div class={ styles.BasicFlex() } hx-post={ string(templ.URL(fmt.Sprintf("/experiments/%s/status", experiment.Id))) } hx-trigger="load, every:15m" hx-target="#change-of-status" hx-swap="outerHTML">
					<p class={ styles.Text("Koulen", "42", "white") }>{ experiment.Name }</p>
					<span class={ styles.Tag("grey", "white") } id="change-of-status">idle</span>
				</div>
				<p class={ styles.Text("Koulen", "30", "white") }>{ experiment.System } </p>
				@Models(experiment.Id)
				@run(fmt.Sprintf("/experiments/%s/run", experiment.Id))
			</div>
		</body>
	</html>
}

templ run(expUrl string) {
	<button class={ styles.SmallButton("white", "black") } type="button" id="run-exp-button" hx-post={ expUrl }>Run</button>
}

templ HiddenUpdate() {
	<p>Done</p>
}
