package views

import "github.com/softmaxer/localflow/views/layout"

templ Home() {
	<html>
		@layout.Links()
		<body>
			@layout.Header()
			<div class="main">
				<div class="main_title">
					<h1>Local leaderboard for evaluating LLMs. </h1>
				</div>
				<div class="new_exp">
					<a class="btn btn-dark" href={ templ.URL("/experiments") }>New experiment</a>
				</div>
			</div>
		</body>
	</html>
}
