<html>
  <head>
    <title>Localflow</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Experiments</a></li>
          <li><a href="/">Boards</a></li>
        </ul>
      </nav>
    </header>
    <div class="main">
      <div class="main_title">
        <h1> Local leaderboard for evaluating LLMs. </h1>
      </div>
      <div class="new_exp">
        <a class="btn btn-dark" href="./experiments.html">New experiment</a>
      </div>
    </div>
  </body>
</html>
