header {
  display: flex;
  justify-content: space-between;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 16px;
}

a {
    color: #333;
    text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}


.experiment {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}


.prompts {
  display: flex;
  flex-direction: column;
}

.add {
  display: flex;
  flex-direction: column;
}
